@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.tomasz__container {
    width: 100%;
    min-height: 80vh;
    padding-top: 50px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.tomasz__container--info {
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tomasz__container--info h1 {
    font-size: 5rem;
    font-weight: 500;
    color: whitesmoke;
}

.tomasz__container--info p {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: whitesmoke;
}

.tomasz__container--info a {
    margin-top: 30px;
    padding: 2rem 5rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #03e9f4;
    text-decoration: none;
    letter-spacing: .6rem;
    background-color: black;
    transition: 0.5s;
}
.tomasz__container--info a:hover {
    color: black;
    background:  #03e9f4;
    box-shadow: 0 0 5px  #03e9f4, 0 0 10px  #03e9f4, 0 0 15px  #03e9f4, 0 0 20px  #03e9f4;
}

.about__container {
    width: 100%;
    min-height: 50vh;
    padding: 10rem 5rem;
    flex-direction: column;
}

.about__container--info {
    text-align: center;
}

.about__container--info h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: black;
}

.about__container--info p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
    position: relative;
    display: inline-block;
}
.about__container--img {
    margin-top: 30px;
    height: auto;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.about__container--img img {
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.skills__container {
    width: 100%;
    margin: 50px auto 0;
    padding: 20px;
    background-color: black;
    flex-direction: column;
}

.skills__header {
    font-size: 3rem;
    color: white;
    padding: 2rem 5rem;
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #03e9f4;
    text-decoration: none;
    letter-spacing: .6rem;
    background-color: black;
    transition: 0.5s;
}

.skills__header:hover {
    color: black;
    background:  #03e9f4;
    box-shadow: 0 0 10px  #03e9f4, 0 0 10px  #03e9f4, 0 0 15px  #03e9f4, 0 0 20px  #03e9f4;
}

.skills__ul {
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.skills__ul li {
    max-width: 1200px;
    position: relative;
    list-style: none;
    margin: 50px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.skills__ul li::before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
}

.skills__ul li::after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgba(54, 126, 223, 1);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.skills__ul li.html::after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 90%;
    }
}

.skills__ul li.js::after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 75%;
    }
}

.skills__ul li.css::after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 80%;
    }
}

.skills__ul li.jquery::after {
    animation-name: jquery;
}

@keyframes jquery {
    to {
        width: 60%;
    }
}


.footer__container {
   min-height: 20vh;
   width: 100%;
   background-color: white;
   flex-direction: column;
   text-align: center;
   padding: 5rem;
}

.footer__contact {
    padding: 20px;
}

.footer__contact--heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.footer__contact--info {
    font-size: 1.4rem;
    padding-top: 10px;
    letter-spacing: .2rem;
}

.footer__social--icon {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    margin: .4rem;
    display: flex;
    justify-content: center;
}

.footer__social--icon img {
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: 50px;
    font-size: 3rem;
    margin: .4rem;
    display: inline-block
}



